src/main/resources/Capture.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:ns="http://webservice.iws.rstn.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://webservice.iws.rstn.com">
    <wsdl:documentation>
        IWS Solution Accelator Capture Web Service
    </wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://webservice.iws.rstn.com">
            <xs:element name="uploadDocuments">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="infoXml" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="dataHandlers" nillable="true"
                                    type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadDocumentsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>


        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://webservice.iws.rstn.com">
            <xs:element name="submitDocumentsByApplication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="infoXml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="submitDocumentsByApplicationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>


    <wsdl:message name="uploadDocumentsRequest">
        <wsdl:part name="parameters" element="ns:uploadDocuments"/>
    </wsdl:message>
    <wsdl:message name="uploadDocumentsResponse">
        <wsdl:part name="parameters" element="ns:uploadDocumentsResponse"/>
    </wsdl:message>

    <wsdl:message name="submitDocumentsByApplication">
        <wsdl:part name="parameters" element="ns:submitDocumentsByApplication"/>
    </wsdl:message>
    <wsdl:message name="submitDocumentToE2IOResponse">
        <wsdl:part name="parameters" element="ns:submitDocumentsByApplicationResponse"/>
    </wsdl:message>

    <wsdl:portType name="CapturePortType">
        <wsdl:operation name="uploadDocuments">
            <wsdl:input message="ns:uploadDocumentsRequest" wsaw:Action="urn:uploadDocuments"/>
            <wsdl:output message="ns:uploadDocumentsResponse" wsaw:Action="urn:uploadDocumentsResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="CapturePortSubmitDocumentToE2IOResponse">
        <wsdl:operation name="submitDocumentsByApplication">
            <wsdl:input message="ns:submitDocumentsByApplication" wsaw:Action="urn:submitDocumentsByApplication"/>
            <wsdl:output message="ns:submitDocumentsByApplicationResponse" wsaw:Action="urn:submitDocumentsByApplicationResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CaptureSoap11Binding" type="ns:CapturePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="uploadDocuments">
            <soap:operation soapAction="urn:uploadDocuments" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="submitDocumentToE2IORequestCaptureSoap11Binding"
                  type="ns:CapturePortSubmitDocumentToE2IOResponse">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="submitDocumentsByApplication">
            <soap:operation soapAction="urn:submitDocumentsByApplication" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="CaptureSoap12Binding" type="ns:CapturePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="uploadDocuments">
            <soap12:operation soapAction="urn:uploadDocuments" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CaptureHttpBinding" type="ns:CapturePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="uploadDocuments">
            <http:operation location="uploadDocuments"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="submitDocumentsByApplication">
            <http:operation location="submitDocumentsByApplication"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CaptureHttpBindingSubmitDocumentToE2IO" type="ns:CapturePortSubmitDocumentToE2IOResponse">
        <http:binding verb="POST"/>
        <wsdl:operation name="submitDocumentsByApplication">
            <http:operation location="submitDocumentsByApplication"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="Capture">
        <wsdl:port name="CaptureHttpSoap11Endpoint" binding="ns:CaptureSoap11Binding">
            <soap:address location="http://localhost:8080/IWSCapture/services/Capture.CaptureHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CaptureHttpsSoap11Endpoint" binding="ns:CaptureSoap11Binding">
            <soap:address location="https://localhost:8443/IWSCapture/services/Capture.CaptureHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CaptureHttpsSoap11Endpoint" binding="ns:submitDocumentToE2IORequestCaptureSoap11Binding">
            <soap:address
                    location="https://localhost:8080/IWSCapture/services/SubmitDocumentsToE2IO.SubmitDocumentsToE2IOHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CaptureHttpsSoap11Endpoint" binding="ns:submitDocumentToE2IORequestCaptureSoap11Binding">
            <soap:address
                    location="https://localhost:8443/IWSCapture/services/SubmitDocumentsToE2IO.SubmitDocumentsToE2IOHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CaptureHttpsSoap12Endpoint" binding="ns:CaptureSoap12Binding">
            <soap12:address location="https://localhost:8443/IWSCapture/services/Capture.CaptureHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CaptureHttpSoap12Endpoint" binding="ns:CaptureSoap12Binding">
            <soap12:address location="http://localhost:8080/IWSCapture/services/Capture.CaptureHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CaptureHttpsEndpoint" binding="ns:CaptureHttpBinding">
            <http:address location="https://localhost:8443/IWSCapture/services/Capture.CaptureHttpsEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="CaptureHttpEndpoint" binding="ns:CaptureHttpBinding">
            <http:address location="http://localhost:8080/IWSCapture/services/Capture.CaptureHttpEndpoint/"/>
        </wsdl:port>

        <wsdl:port name="CaptureHttpsEndpoint" binding="ns:CaptureHttpBindingSubmitDocumentToE2IO">
            <soap:address
                    location="https://localhost:8443/IWSCapture/services/SubmitDocumentsToE2IO.SubmitDocumentsToE2IOHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CaptureHttpEndpoint" binding="ns:CaptureHttpBindingSubmitDocumentToE2IO">
            <soap:address
                    location="https://localhost:8080/IWSCapture/services/SubmitDocumentsToE2IO.SubmitDocumentsToE2IOHttpsSoap11Endpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
